@tailwind base;
@tailwind components;

body {
  margin: 0;
  background-color: #fffdda;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind utilities;
