@tailwind base;
@tailwind components;

body {
  @apply bg-yellow-300;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  @apply px-4 py-2 rounded font-bold;
}

.btn--blue {
  @apply bg-indigo-500 hover:bg-indigo-400 text-white;
}

.animation-appear {
  animation: appear .5s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@tailwind utilities;
